.booked-desk {
	fill: #747474;
	fill-opacity: 0.6;
}

.available-desk {
	fill: #747474;
	fill-opacity: 0.6;
}
.available-desk:hover + .available-place-marker,
.available-desk:hover {
	fill: #98afc7;
}

.booked-place-marker {
	fill: orange;
}

.available-place-marker {
	fill: aquamarine;
}

.selected-desk,
.selected-place-marker {
	fill: rgb(80, 80, 241);
}

.desk-detail {
	font-family: "Trebuchet MS", sans-serif;
	fill: white;
	text-anchor: middle;
}
