.booked .desk-rectangle {
	fill: #4a5566;
	fill-opacity: 0.8;
}

.available .desk-rectangle {
	fill: #4a5566;
	fill-opacity: 0.8;
}

.booked .place-marker {
	fill: #ffc400;
	stroke: #ffc400;
	stroke-width: 1;
}

.available .place-marker {
	fill: #57b172;
	stroke: #57b172;
	stroke-width: 1;
}

.booked .desk-detail {
	fill: #ffe388;
	text-anchor: middle;
}

.available .desk-detail {
	fill: #c8fdd8;
	text-anchor: middle;
}
.available:hover .place-marker,
.available:hover .desk-rectangle {
	fill: #378cfb;
}

.available:hover .desk-rectangle {
	transform: scale(1.03);
}

.available:hover .desk-detail {
	fill: black;
	font-weight: 600;
}

.available:hover * {
	cursor: pointer;
}

.selected:hover * {
	cursor: pointer;
}

.selected .desk-rectangle,
.selected .place-marker {
	fill: #6a6ce7;
}

.desk-detail {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	fill: #ffc400;
	text-anchor: middle;
}

.island {
	fill: #faf5c1d0;
	fill-opacity: 0.7;
	stroke-linecap: butt;
}
