html,
main,
body {
	background-color: #a7a6a5;
	height: 100vh;
}

body {
	overflow: auto;
	scroll-behavior: smooth;
}

#wrapper {
	display: grid;
	grid: auto / 300px auto;
	grid-gap: 10px;
}

.wrapper-inner1 {
	margin-top: 90px;
	width: 300px;
	height: 300px;
	max-width: 300px;
}

@media (max-width: 880px) {
	#wrapper {
		scroll-behavior: smooth;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.wrapper-inner1 {
		height: auto;
		width: auto;
		transform: scale(50%, 50%);
		margin-top: auto;
		display: flex;
		align-self: center;
	}
}

@media (min-height: 600px) {
	.wrapper {
		grid: auto / 150px auto;
	}
	.wrapper-inner1 {
		margin-top: 29vh;
	}
}

@media (min-height: 600px), (max-width: 880px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.wrapper-inner1 {
		margin-top: 0;
	}
}
