table,
td,
th {
	border: 1px solid rgb(51, 42, 42);
	background-color: #385064;
	border-radius: 5px;
}

td,
th {
	padding: 10px;
}

table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	box-shadow: 0 0 10px rgba(182, 154, 154, 0.15);
	border-bottom: 4px solid #385064;
	color: #ddd4d2;
	border-radius: 5px;
}

th {
	background-color: #2e3942;
}

body {
	background-color: #252f38;
}

th {
	color: rgb(233, 226, 226);
}
.inner {
	display: inline-block;
	border-radius: 10%;
	padding: 8px 16px;
	margin-bottom: 10px;
	font-size: 1.6em;
}

.hide {
	display: none;
}

.visible-on-hover:hover .hide {
	display: contents;
}

.previous {
	color: rgb(255, 255, 255);
	padding: 10px;
	font-size: 40px;
}

.next {
	color: rgb(255, 255, 255);
	padding: 10px;
	font-size: 40px;
}
